{%extends 'partials/base.html'%}
{%block title%} User Registration{%endblock%}
{% load crispy_forms_tags %}

{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="border p-3">
                <h3>
                    Registration Page
                </h3>
                {{message}}
                <form method="POST">
                    {%csrf_token%}
                    {{form|crispy}}
                    <input class="btn btn-success" type="submit" value="Register">
                </form>
                
                
            </div>
        </div>
    </div>
</div>
{%endblock%}